<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Истории просмотров</title>
</head>
<body>

{% for history in history_list %}
    <div>
        <p>Наименование товара - {{ history.product }}</p>
        <p>Описание товара - {{ history.product.description }}</p>
        <p>Свойства товара - {{ history.product.property }}</p>
        <p>Категория товара - {{ history.product.category }}</p>
        <p>Продавец - {{ history.product.seller }}</p>
        <p>Дата просмотра - {{ history.view_at }}</p>
        <hr>
    </div>
{% endfor %}
</body>
</html>